.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin-top: 1rem;
  }
  h2{
    font-size: 5rem;
  }
  
  .welcome-image img {
    max-width: 100%;
    height: auto;
  }
  
  .welcome-info {
    max-width: 30rem;
    text-align: center;
  }
  
  .welcome-info h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding: 0;
    margin-top: 0;
  }
  
  .welcome-info p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  