.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    gap: 1rem;
    margin-left: 200px;
  }
  
  
  input[type="password"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .change-button {
    padding: 10px 10px;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    margin-left: 330px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .alert {
    margin-top: 20px;
    padding: 10px;
    background-color: #63c668;
    color: white;
    border-radius: 4px;
  }